cloud_provider = "aws"
region = "us-east-1"
app_name = "myapp"
deployment_type = "k8s"
app_image = "nginx:alpine"
replicas = 2
namespace = "default"
cluster_name = "myeks"
app_secret = "tempsecret"
deps_enabled = {
  db = true
  queue = false
  storage = true
}
project_id = ""
resource_group_name = ""
location = ""

