cloud_provider = "aws"
region = "us-east-1"
app_name = "myapp-prod"
deployment_type = "k8s"
app_image = "nginx:alpine"
replicas = 3
namespace = "prod"
cluster_name = "myeks-prod"
app_secret = "prodsecret"
deps_enabled = {
  db = true
  queue = true
  storage = true
}

