cloud_provider = "aws"
region = "us-east-1"
app_name = "myapp-staging"
deployment_type = "k8s"
app_image = "nginx:alpine"
replicas = 2
namespace = "staging"
cluster_name = "myeks-staging"
app_secret = "stagingsecret"
deps_enabled = {
  db = true
  queue = false
  storage = true
}

